@font-face {
  font-family: 'TradeGothic-Rg';
  src: url("./fonts/TradeGothic.woff2") format("woff2"), url("./fonts/TradeGothic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Bd';
  src: url("./fonts/TradeGothic-BoldTwo.woff2") format("woff2"), url("./fonts/TradeGothic-BoldTwo.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Cond';
  src: url("./fonts/TradeGothicLT-CondEighteen.woff2") format("woff2"), url("./fonts/TradeGothicLT-CondEighteen.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Ext';
  src: url("./fonts/TradeGothicLH-Extended.woff2") format("woff2"), url("./fonts/TradeGothicLH-Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a[href] {
  cursor: pointer;
}

i, em {
  font-style: italic;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

sup {
  font-size: 60%;
  line-height: 0;
  vertical-align: super;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  position: absolute;
  right: 0;
}

.clearfix:after {
  content: ".";
  height: 0;
  width: 0;
  font-size: 0rem;
  clear: both;
  visibility: hidden;
  opacity: 0;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

html, body, main {
  overflow: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  max-width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-y: auto;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
