@font-face {
  font-family: 'TradeGothic-Rg';
  src: url('./fonts/TradeGothic.woff2') format('woff2'),
      url('./fonts/TradeGothic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Bd';
  src: url('./fonts/TradeGothic-BoldTwo.woff2') format('woff2'),
      url('./fonts/TradeGothic-BoldTwo.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Cond';
  src: url('./fonts/TradeGothicLT-CondEighteen.woff2') format('woff2'),
      url('./fonts/TradeGothicLT-CondEighteen.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TradeGothic-Ext';
  src: url('./fonts/TradeGothicLH-Extended.woff2') format('woff2'),
      url('./fonts/TradeGothicLH-Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
